*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
}


aside {
    float: left;
}

#right_aside{
    float: right;
}

.mode button{
    background-color: indianred;
    width: 100px;
    height: 50px;
    border: 0;
}


.instruments button{
    background-color: indianred;
    width: 100px;
    height: 50px;
    border: 0;
}
.elements button{
    background-color: aliceblue;
    width: 75px;
    height: 75px;
    border: 0;
}
button:hover{
    background-color: lightpink;
}

#clean{
    width: 100%;
}

#value button {
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    border: 0;
}

#value button:hover{
    background-color: lightpink;
}

.container {
    width: 60%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-gap: 0;
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.gallery__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.gallery__img:hover{
    filter: brightness(50%);
    opacity: 0.5;
}

aside{
    min-height: 700px;
}

#graphic{
}






/* Для выпадающего меню с готовыим цепями */
.drop_circuits {
  background-color: #76b2da;
  color: black;
  width: 100%;
  height: 50px;
  border: 0;
  cursor: pointer;
}

.drop_circuits:hover, .dropbtn:focus {
  background-color: #427aa0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.circuits_dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Для выпадающего меню с U, R*/
.UandR_dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.circuits_dropdown button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 300px;
  border: 0;
}

.dropdown button:hover {background-color: #ddd;}

/*
Кнопки масштабирование
 */
button[id*="scale"]{
    background-color: darkseagreen;
    width: 50px;
}

button[id*="scale"]:hover{
    background-color: darkgreen;
}


/* Для выпадающего меню с проводами */
  
#myWires button{
    color: black;
    background-color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: 90px;
    border: 0;
}

#myWires button:hover{
    background-color: lightpink;
}

 .wires_dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .wires_dropdown button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100px;
    border: 0;
  }

  .wires_dropdown button :hover{
    background-color: #ddd;
  }


.show_list {display: block;}


/*всплывающее окно "справочник"*/


/* Стили для подложки */

.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Стили для модальных окон */

.modal {

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;


    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 700px;


    /*  Установаем длину окна  */
    height: 100%;
    max-height: 700px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
    opacity: 1;
    visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
}

/* Кнопки внутри модального окна */
.directory{
    background-color: indianred;
    width: 100px;
    height: 50px;
    border: 0;
}

.directory button:hover{
    background-color: lightpink;
}


.elements_description{
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    border: 0;
}
.elements_description button:hover{
    background-color: lightpink;
}

button{
    border-radius: 8px;
}