*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
}


aside {
    float: left;
}

.instruments button{
    background-color: indianred;
    width: 100px;
    height: 50px;
    border: 0;
}
.elements button{
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    border: 0;
}
button:hover{
    background-color: lightpink;
}


.container {
    width: 60%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__img:hover{
    opacity: 0.5;
}






/* Для выпадающего меню с готовыим цепями */
.dropbtn {
  background-color: #76b2da;
  color: black;
  width: 100px;
  height: 50px;
  border: 0;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #427aa0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.circuits_dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.circuits_dropdown button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;


  width: 300px;
  border: 0;
}

.dropdown button:hover {background-color: #ddd;}

.show {display: block;}
